#container,#buttondiv{
    margin:0 auto;
    width:80%;
    overflow:auto;
}
table.gridtable {
    margin:0 auto;
    width:95%;
    overflow:auto;
    font-family: helvetica,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    text-align: center;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #F6B4A5;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
.badrowcount {
    background-color: coral;
}
.notnumeric {
    background-color: yellow;
}