html,body{
    overflow-x: hidden;
    overflow-y: hidden;
}

#container, #buttondiv {
    margin: 0 auto;
    width: 80%;
    overflow: auto;
}


.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 67%;
}

.custom-file-label::after {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #6c757d;
    content: "Buscar";
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    background-image: none;
    border-color: #6c757d;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}

h2#izquierda {
    text-align: left;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}

table.gridtable {
    margin: 0 auto;
    width: 95%;
    overflow: auto;
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    text-align: center;
}

    table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #F6B4A5;
    }

    table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
    }

.badrowcount {
    background-color: coral;
}

.notnumeric {
    background-color: yellow;
}

a {
  text-align: center;
}

#NuevoEvento, #NuevoCliente, #ActualizarEvento, #ActualizaraCliente, #Administrador, #Inicio, #NuevoStaff, #ActualizarStaff, #CerrarSesion{
    width: 85%; /* Set a width if you like */
    height: 100%;
    margin: 0px;
    float: left;
    text-align: center;
    display: none;
    padding-top: 4%;
}
input{
    outline: none;
    border: 0px solid red;
    width:40%;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
}

select{
    outline: none;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
}
.vertical-menu {
    width: 15%; /* Set a width if you like */
    height: 100%;
    margin: 0px;
    float: left;
    background: #acaeae;
    -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.6);
    
}

.menu{ 
    list-style: none;
    line-height: 42px;
    margin: 2em auto;
    padding-left: 0;
    width: 100%;
} 

.menu a { 
    color:black;
    text-decoration: none;
    text-transform: uppercase;
} 

.menu li { 
    box-shadow: 3px 0 rgba(51, 48, 48) inset;
    margin-bottom: 5px;
    padding-left: 1.5em;
    font-size: 100%;
    width: 100%;
    border-bottom-right-radius: 50%;
} 

.menu li:hover{ 
    color: #333333;
    box-shadow: 12.77em 0 rgba(51, 48, 48) inset;
    --webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    color:white;
   }
   
.menu{ 
    color:black;
    list-style: none;
    line-height: 42px;
    margin: 2em auto;
    padding-left: 0;
    width: 15em;
} 

.Guardar{
    background-color:#707B7C;
    width:20%;
}
.Guardar:hover{
    width:20%;
    border: 1px solid black;
    background-color: #ccc;
}
.error {color: #f00;}

input#buscarCliente, input.buscarEvento, input#buscarUsuarioStaff{
    width:34%;
}

input[type="date"]::-webkit-inner-spin-button {
    opacity: 0
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    opacity: 0.8
}
input[type="submit"],#viewfile,#confirmar{
    background-color: #388742;
    border-radius:20px 0px 20px 0px;
    border-color: #388742;
    display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        opacity:0.9;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
input[type="submit"]:hover,#viewfile:hover,#confirmar:hover{
    opacity:1;
    }
#viewfile,#confirmar{
    color: white;
    
} 

#loading-screen {
  background-color: rgba(25,25,25,0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin-top: 0;
  top: 0;
  text-align: center;
}
#loading-screen img {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: -50px;
  margin-left: -50px;
  top: 50%;
}

textarea{
    outline: none;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
   
}

table{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

/*---------------------LOGIN---------------------*/
form#formlg{
    margin: auto;
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: 450px;
    background: #F3F3F3;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.26);

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

#formlg h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}

#formlg input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    outline: none;

    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.36);
}

#formlg input[type="submit"]{
    background: linear-gradient(#28a745, #28a745);
    border: 0;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    
}

#formlg input[type="submit"]:hover {
    opacity: 1;
}

#formlg input[type="submit"]:active {
    transform: scale(0.95);
}

/*--FORM INFO EVENTOS--*/
form#frmInfoEvento{
    margin: auto;
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    background: #F3F3F3;
    padding: 40px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
 }