#container, #buttondiv {
    margin: 0 auto;
    width: 80%;
    overflow: auto;
}


.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 67%;
}

.custom-file-label::after {
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #6c757d;
    content: "Buscar";
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    background-image: none;
    border-color: #6c757d;
}

h1 {
    font-family: helvetica,arial,sans-serif;
    font-size: 30px;
}

table.gridtable {
    margin: 0 auto;
    width: 95%;
    overflow: auto;
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    text-align: center;
}

    table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #F6B4A5;
    }

    table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
    }

.badrowcount {
    background-color: coral;
}

.notnumeric {
    background-color: yellow;
}

a {
  text-align: center;
}

#NuevoEvento, #NuevoCliente, #ActualizarEvento, #ActualizarCliente, #Administrador, #Inicio, #NuevoStaff, #ActualizarStaff, #CerrarSesion{
    width: 85%; /* Set a width if you like */
    height: 100%;
    margin: 0px;
    float: left;
    text-align: center;
    position: relative;
    display: none;
    padding-top: 4%;
}
input{
    border: 0px solid red;
    border-radius: 4px;
    width:40%;
}
.vertical-menu {
    width: 15%; /* Set a width if you like */
    height: 100%;
    margin: 0px;
    float: left;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 50%;
    text-decoration: none; /* Remove underline from links */
    border:1px;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}
.Guardar{
    background-color:#707B7C;
    width:20%;
}
.Guardar:hover{
    width:20%;
    border: 1px solid black;
    background-color: #ccc;
}
.error {color: #f00;}

input#buscarCliente, input.buscarEvento, input#buscarUsuarioStaff{
    width:34%;
}