<!DOC<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <meta charset="utf-8" />
    <title>Plantilla</title>
    <style type="text/css">
        body {
            background: #d2cdcd;
        }

        #header {
            background: #c33838;
            padding-top: 45px;
            padding-bottom: 45px;
        }

        #content {
            background: #d2cdcd;
            padding-top: 240px;
            padding-bottom: 240px;
        }

        #foot {
            background: #5f5a5a;
            padding-top: 75px;
            padding-bottom: 75px;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="header">

        </div>
        <div id="content">
            
        </div>
        <div id="foot">

        </div>
    </div>
</body>
</html>
